<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sdf.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/process/login" method="POST">
            <div class = "login-wrap">
                <div id = "login">
                    <div class = "login-input">
                        <input type="text" name = "id" placeholder="아이디  ">
                        <span class="border"></span>
                    </div>
                    <div class = "login-input">
                        <input type="text" name = "password" placeholder="비밀번호">
                        <span class="border"></span>
                    </div>
                    <div class="login-btnbox">
                        <a href="" class = "login-btn">로그인</a>
                    </div>
                    <div class="login-btnbox">
                        <a href="" class = "login-btn">회원가입</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>