<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login4.css">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "id_box">
            <h2>회원가입을 위해 <br> 정보를 입력해주세요</h2>
            <div id = "inp">
                <label for="">아이디</label><br>
                <input type="text">
            </div>
            <div id = "inp">
                <label for="">패스워드</label><br>
                <input type="text">
            </div>
        </div>
    </div>
</body>
</html>