<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST" action="/getdata">
        <label for="">Data</label>
        <input type="text" name="data" id="">
        <button type = "submit"id = "btn">btn</button>
    </form>
    
    <script>
        // document.querySelector("#btn").addEventListener('click' , async() => {
        //     const response = await fetch("")
        // })
    </script>

</body>
</html>